<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="tobikster.streamingtester"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MediaPlayerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.WebViewActivity">
        </activity>
        <activity
            android:name=".activities.SampleChooserActivity"
            android:configChanges="keyboardHidden">
        </activity>
        <activity
            android:name=".activities.ExoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/PlayerTheme"/>

        <activity
            android:name=".activities.ExoPlayerFragmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <receiver
            android:name=".broadcastReceivers.MediaParametersReceiver"
            android:enabled="false"
            android:exported="false">
        </receiver>
    </application>

</manifest>
